.uc-discounts-cart-pane-container {
	border-left: 1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
	border-bottom: 1px solid #BBBBBB;
	text-align: right;
	width: 100%;
}

.uc-discounts-cart-pane-table {
	text-align: right;
	width: 100%;
}

.uc-discounts-cart-pane-table-cell {
	width: 100%;
}
